# Environments & Virtualenvs
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyTest & Cache
.pytest_cache/
.coverage
htmlcov/

# Streamlit
.streamlit/

# OS specific files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Environment Variables & Secrets
.env
.env.local
.env.*.local
